# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [1]:
s = "hello, world!"

In [2]:
len(s)

13

In [3]:
s.count('l')

3

In [4]:
s.replace('l', 'L')

'heLLo, worLd!'

In [5]:
s.capitalize()

'Hello, world!'

In [6]:
s.upper()

'HELLO, WORLD!'

In [7]:
s = s.upper()

In [8]:
s

'HELLO, WORLD!'

In [9]:
"hello" == "hell"

False

In [10]:
s[0]

'H'

In [11]:
type(s)

str

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [12]:
l = [1,2,3,4,5]

In [13]:
l

[1, 2, 3, 4, 5]

In [14]:
type(l)

list

In [15]:
l = [1,1.0,True,'a', 'hrllsaodfsg']

In [16]:
l

[1, 1.0, True, 'a', 'hrllsaodfsg']

In [17]:
l = []

In [18]:
len(l)

0

### Basic operations
![](images/list_oper.png)

In [19]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [20]:
[1]*10

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [21]:
l = [1,2,3]

In [22]:
3 in l

True

In [23]:
[1,2,3,["hello"]]

[1, 2, 3, ['hello']]

In [24]:
basket = ['apple', 'orange', 'banana']

In [25]:
for i in range(len(basket)):
    print(basket[i])

apple
orange
banana

In [26]:
for fruit in basket:
    print(fruit)

apple
orange
banana

### Indexing and list slicing

![](images/indexing.png)

In [27]:
l = [1,2,3,4,5]

In [28]:
l[len(l)-1]

5

In [29]:
l[-1]

5

In [30]:
l[0:3:1]

[1, 2, 3]

In [31]:
l[-3::1]

[3, 4, 5]

In [32]:
l[2:4]

[3, 4]

In [33]:
l[::-1]

[5, 4, 3, 2, 1]

In [34]:
l = [1,2,3,4,5,6,7,8,9]

In [35]:
l[-3:][::-1]

[9, 8, 7]

In [36]:
l[:-4:-1]

[9, 8, 7]

### Updating the list

- insert

- append

In [37]:
l = [1,2,3,4,5]

In [38]:
l + [6]

[1, 2, 3, 4, 5, 6]

In [39]:
l.append(6)

In [40]:
l

[1, 2, 3, 4, 5, 6]

In [41]:
l.insert(0, 0)

In [42]:
l

[0, 1, 2, 3, 4, 5, 6]

In [43]:
l.insert(3, 100)

In [44]:
l

[0, 1, 2, 100, 3, 4, 5, 6]

In [45]:
l.insert(len(l), 454690)

In [46]:
l

[0, 1, 2, 100, 3, 4, 5, 6, 454690]

### Deleting list elements

- del
- pop
- remove

In [47]:
l = [1,2,3,4,5]

In [48]:
del l[0]

In [49]:
l

[2, 3, 4, 5]

In [50]:
l.pop(0)

2

In [51]:
l

[3, 4, 5]

In [52]:
l = [1,2,4,1,4,1,5]

In [53]:
l.remove(1)

In [54]:
l

[2, 4, 1, 4, 1, 5]

In [55]:
-1 in l

False

In [56]:
while 1 in l:
    l.remove(1)

In [57]:
l

[2, 4, 4, 5]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [58]:
l = [1,5,2,7,3,4,6,0]

In [59]:
sorted(l)

[0, 1, 2, 3, 4, 5, 6, 7]

In [60]:
l

[1, 5, 2, 7, 3, 4, 6, 0]

In [61]:
l.sort(reverse=True)

In [62]:
l

[7, 6, 5, 4, 3, 2, 1, 0]

In [63]:
l = [1,2,-1,4,3,-6,5]

In [64]:
abs(-1)

1

In [65]:
sorted(l, key=abs)

[1, -1, 2, 3, 4, 5, -6]

In [66]:
l.sort(key=abs)

In [67]:
l

[1, -1, 2, 3, 4, 5, -6]

In [68]:
data = [
    ['ram', 9, 18],
    ['shyam', 8, 19],
    ['ravi', 7, 20],
    ['mohan', 7, 18]
]

In [69]:
def cmp(x):
    return x[1]

In [70]:
cmp(data[0])

9

In [71]:
sorted(data, key=cmp, reverse=True)

[['ram', 9, 18], ['shyam', 8, 19], ['ravi', 7, 20], ['mohan', 7, 18]]

### map, strip and split function (just some utilities when you input a list)

In [72]:
def double(x):
    return 2*x

In [73]:
def square(x):
    return x**2

In [74]:
double(3)

6

In [75]:
l = [1,2,3,4,5]

In [76]:
list(map(double, l))

[2, 4, 6, 8, 10]

In [77]:
list(map(square, l))

[1, 4, 9, 16, 25]

In [78]:
x = input("Enter 5 values: ")

Enter 5 values: 1 2 3 4 5

In [79]:
x

'1 2 3 4 5'

In [80]:
l = x.split()

In [81]:
l

['1', '2', '3', '4', '5']

In [82]:
int('1')

1

In [83]:
il = list(map(int, l))

In [84]:
il

[1, 2, 3, 4, 5]

In [85]:
sum(il)

15

In [86]:
sum(list(map(int, input("Enter 5 numbers: ").split())))

Enter 5 numbers: 1 2 3 4 5

15

### Printing a list using join

In [87]:
basket = ['apple', 'orange', 'banana']

In [88]:
"*".join(basket)

'apple*orange*banana'

In [89]:
l = [1,2,3,4,5]

In [90]:
str(1)

'1'

In [91]:
" ".join(list(map(str, l)))

'1 2 3 4 5'

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [92]:
t = (1,2,3,4,5)

In [93]:
type(t)

tuple

In [94]:
t

(1, 2, 3, 4, 5)

In [95]:
t[0] = -1

TypeError: 'tuple' object does not support item assignment

In [96]:
s = "hello"

In [97]:
s[0] = 'hfh'

TypeError: 'str' object does not support item assignment

### List to tuple and tuple to list...

In [98]:
t = (1,2,3,4,5)

In [99]:
l = list(t)

In [100]:
l

[1, 2, 3, 4, 5]

In [101]:
l[0] = -1

In [102]:
l

[-1, 2, 3, 4, 5]

In [103]:
t = tuple(l)

In [104]:
t

(-1, 2, 3, 4, 5)

In [105]:
t = (1)

In [106]:
t

1

In [107]:
t = (1,)

In [108]:
t

(1,)

In [109]:
t = ()

In [110]:
t

()

### Returning multiple values from functions (The returned thing is a tuple!)

In [111]:
def addsub(a,b):
    return a+b, a-b

In [112]:
x,y = addsub(3,4)

In [113]:
x

7

In [114]:
y

-1

In [115]:
a = 1
b = 2

In [116]:
a,b = (b,a)

In [117]:
a

2

In [118]:
b

1

In [119]:
1,2

(1, 2)

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [120]:
d = {
    'ram': 10,
    'shyam': 9,
    'ravi': 8
}

In [121]:
d

{'ram': 10, 'shyam': 9, 'ravi': 8}

In [122]:
type(d)

dict

In [123]:
d['ram']

10

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [124]:
d['haha']

KeyError: 'haha'

In [125]:
d.get('ram')

10

In [126]:
d.get('haha') == None

True

In [127]:
d.get('haha', "Key does not exist")

'Key does not exist'

In [128]:
d.items()

dict_items([('ram', 10), ('shyam', 9), ('ravi', 8)])

In [129]:
for x in d.items():
    print(x[0], x[1])

ram 10
shyam 9
ravi 8

In [130]:
d.keys()

dict_keys(['ram', 'shyam', 'ravi'])

In [131]:
d.values()

dict_values([10, 9, 8])

In [132]:
d

{'ram': 10, 'shyam': 9, 'ravi': 8}

In [133]:
d['hsadk'] = 8

In [134]:
d

{'ram': 10, 'shyam': 9, 'ravi': 8, 'hsadk': 8}

In [135]:
d[10] = 'ram'

In [136]:
d

{'ram': 10, 'shyam': 9, 'ravi': 8, 'hsadk': 8, 10: 'ram'}

In [137]:
d[(0,0)] = 1

In [138]:
d

{'ram': 10, 'shyam': 9, 'ravi': 8, 'hsadk': 8, 10: 'ram', (0, 0): 1}

In [139]:
d[[1,2]] = 1

TypeError: unhashable type: 'list'

In [140]:
d.clear()

In [141]:
d

{}

In [142]:
d = {
    'ram': 10,
    'shyam': 9,
    'ravi': 8
}

In [143]:
d.pop('ram')

10

In [144]:
d

{'shyam': 9, 'ravi': 8}

In [147]:
d['shyam'] = 8

In [148]:
d

{'shyam': 8, 'ravi': 8}

In [149]:
d.popitem()

('ravi', 8)

In [150]:
d

{'shyam': 8}

In [151]:
d = {
    'a': 1,
    'b': 2,
    'c': 1
}

In [152]:
items = list(d.items())

In [153]:
items

[('a', 1), ('b', 2), ('c', 1)]

In [154]:
for x in items:
    if x[1] == 1:
        d.pop(x[0])

In [155]:
d

{'b': 2}

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [156]:
s = {1,2,3,4}

In [157]:
s

{1, 2, 3, 4}

In [158]:
type(s)

set

In [159]:
s.pop()

1

In [160]:
s.remove(2)

In [161]:
s

{3, 4}

In [162]:
s1 = {1,2,3,4}
s2 = {3,4,5,6,7}

In [163]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [164]:
s1.intersection(s2)

{3, 4}

In [165]:
l = [1,2,1,2,3,1,3,2,4,1,0,3]

In [166]:
list(set(l))

[0, 1, 2, 3, 4]

In [167]:
d = {
    'a': 1,
    'b': 2,
    'c': 3
}

In [168]:
dict([('a',1), ('b',2)])

{'a': 1, 'b': 2}

In [169]:
l = [('a',1), ('b',2), ('c',3)]

In [170]:
for x in l:
    print(x[0], x[1])

a 1
b 2
c 3

In [171]:
for x,y in l:
    print(x,y)

a 1
b 2
c 3

In [172]:
d = dict(l)

In [173]:
d

{'a': 1, 'b': 2, 'c': 3}

In [174]:
for x in d.items():
    print(x[0], x[1])

a 1
b 2
c 3

In [175]:
for key,value in d.items():
    print(key, value)

a 1
b 2
c 3

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)