# <center>Basics</center>

## Let's write our first "Hello world!" program :)

- Run on interactive shell

- Run as python script

[Let's solve our first challenge!](https://www.hackerrank.com/challenges/py-hello-world)

In [3]:
print("Hello, world!")

Hello, world!

## Putting comments


![](images/comments.jpg)

> Code tells you how, comments should tell you why.

In [5]:
# this is a comment
# this is another comment

In [14]:
"aadsfjkgr"

'aadsfjkgr'

In [13]:
1

1

In [12]:
a = 1
b = 2
"""
now 
im
gonna 
add
"""
print(a+b)

3

## Literal constants

- Numbers
    - Integers
    - Floats
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences (\n, \t, \r)
    - Explicit line joining

In [17]:
type(1)

int

In [18]:
type(3.14)

float

In [19]:
type('hello')

str

In [35]:
a = "hel'l'o"
b = 'hello'

In [36]:
a

"hel'l'o"

In [34]:
b

'hello'

In [38]:
a = 1

In [39]:
a

1

In [20]:
type("hello")

str

In [21]:
type("""hello""")

str

In [22]:
type('''hello''')

str

## Variables

A type of **identifier**.

Rules for naming identifiers:

- The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
    
- The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
    
- Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.
    
Examples of valid identifier names are i, name_2_3. 


Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [46]:
_a = "sdnsfk"

In [47]:
a1 = "sdkjf"

In [48]:
a b = 1

SyntaxError: invalid syntax (<ipython-input-48-2bab97d7970c>, line 1)

In [49]:
a = 1

In [50]:
id(a)

10910400

In [51]:
a = 1.0

In [53]:
b = 1

In [54]:
id(b)

10910400

In [57]:
id(1)

10910400

In [58]:
id(1.0)

140191692838928

In [52]:
id(a)

140191692838688

In [41]:
a = 1

In [42]:
id(a)

10910400

In [43]:
a = "1.0"

In [44]:
id(a)

140191692787816

## Data Types

Variables can hold values of different types called data types. 

The basic types:
- numbers
- strings

## Indentation

![](images/indent.jpg)

- Whitespace is important in Python. 

- Actually, whitespace at the beginning of the line is important. This is called indentation. 

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of  the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block.

In [55]:
a = 1
 b = 1

IndentationError: unexpected indent (<ipython-input-55-9f162282fb68>, line 2)

In [56]:
 a = 1
 b = 1

## Issue with indentation

### Tabs vs spaces

![](images/tabs_vs_spaces.jpg)

### The solution...

![](images/usetabs.jpeg)

## Something more about print function...

- format method

- **end** and **sep**

In [59]:
print("hello world")

hello world

In [61]:
print("hello\nworld\ntyoyht\nqnfejk")

hello
world
tyoyht
qnfejk

In [71]:
print("hello", "world", "tyoyht", "qnfejk", sep='\t')

hello	world	tyoyht	qnfejk

In [70]:
print("hello", end=' ')
print("world")

hello world

In [72]:
a = 1
b = 2

In [80]:
print("a is", a, "and b is", b)

a is 1 and b is 2

In [81]:
print("a is " + str(a) + " and b is " + str(b))

a is 1 and b is 2

In [82]:
print("a is %d and b is %d"%(a,b))

a is 1 and b is 2

In [85]:
print("a is {} and b is {}".format(a,b))

a is 1 and b is 2

In [88]:
print(f"a is {a} and b is {b}")

a is 1 and b is 2

## Taking user input

- input() function

- concept of typecasting

In [1]:
a = int(input("Enter a number:"))

Enter a number:123

In [2]:
a

123

In [3]:
type(a)

int