# <center>Intermediate Python (Part-4)</center>

# ***<center>Important built-in modules</center>***

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrXZe5DUquNmz5sQ5VCe8NsNNVmWpBJ9FsahfLQLBWDVTJSBZD_w)

## 1. random

- **random()** : Returns random floating point number in the range \[0.0, 1.0).


- **randrange(start,stop,step)** : Returns a randomly selected element from range(start, stop, step). 


- **randint(a,b)** : Returns a random integer N in the range \[a,b\].


- **choice(seq)** : Returns a random element from the non-empty sequence seq.


- **choices(population, weights=None, cum_weights=None, k=1)** : Returns a k sized list of elements chosen from the population __with replacement__. If a weights sequence is specified, selections are made according to the relative weights.


- **shuffle(seq)** : Shuffle the sequence seq in place.


- **sample(population, k)** : Return a k length list of unique elements chosen from the population sequence __without replacement__.

In [1]:
import random

In [164]:
random.random()*10

2.448436802193906

In [151]:
random.randrange(0,1000)/100

5.27

In [236]:
random.randint(1,2)

2

In [237]:
names = ['ram', 'ravi', 'ajay']

In [282]:
random.choice(names)

'ravi'

In [292]:
x = list(range(10))

In [293]:
random.shuffle(x)

In [294]:
x

[9, 5, 1, 2, 4, 7, 3, 0, 6, 8]

In [291]:
names

['ajay', 'ravi', 'ram']

In [304]:
l = list(range(10))

In [305]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [336]:
random.sample(l, k=3)

[2, 9, 8]

In [357]:
l = [1,2,3]

In [459]:
random.choices(l, k=3, weights = [1.0,0.25, 0.0])

[1, 1, 2]

![](http://cf.chucklesnetwork.com/items/8/3/2/1/4/original/what-if-xxx-is-actually-a-random-number-generator.jpg)

## 2. collections

This module implements **specialized container datatypes** providing alternatives to Pythonâ€™s general purpose built-in containers like dict, list, set, and tuple.

Some important container datatypes are:

- **Counter** : for counting hashable objects. It is an unordered collection where elements are stored as dictionary keys and their counts are stored as dictionary values.

- **ChainMap** : for quickly linking a number of mappings so they can be treated as a single unit

- **defaultdict** : calls a factory function to supply values for missing keys in a dictionary.

- **OrderedDict** : a dict subclass which remembers the order in which entries were added

Let's explore them one by one!

In [537]:
text = "sdnfdgsjkabkfj furgbrzjhvgkjbfzj dgsjbsvkjeghsjk"

In [461]:
d = {}

In [464]:
for char in text:
    if char in d.keys():
        d[char] += 1
    else:
        d[char] = 1

In [467]:
from collections import Counter

In [468]:
Counter(text)

Counter({'s': 5,
         'd': 3,
         'n': 1,
         'f': 4,
         'g': 5,
         'j': 8,
         'k': 5,
         'a': 1,
         'b': 4,
         ' ': 2,
         'u': 1,
         'r': 2,
         'z': 2,
         'h': 2,
         'v': 2,
         'e': 1})

In [519]:
Counter(random.choices(range(5), k=10, weights=[0.1,1,1,0,0]))

Counter({2: 4, 1: 4, 0: 2})

In [520]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 1, 'd': 3}

In [525]:
d3 = {}

for key,value in list(d1.items()) + list(d2.items()):
    d3[key] = value

In [528]:
{key:value 
 for key,value in list(d1.items()) + list(d2.items())}

{'a': 1, 'b': 2, 'c': 1, 'd': 3}

In [526]:
d3

{'a': 1, 'b': 2, 'c': 1, 'd': 3}

In [529]:
from collections import ChainMap

In [530]:
d3 = ChainMap(d1,d2)

In [533]:
d3

ChainMap({'a': 1, 'b': 2}, {'c': 1, 'd': 3})

In [531]:
d3['a']

1

In [532]:
d3['d']

3

In [534]:
d1 = {'a': 1, 'b': 2}
d2 = {'a': -1, 'c': 3}

In [536]:
ChainMap(d2, d1)['a']

-1

In [542]:
from collections import defaultdict

In [572]:
d = defaultdict(lambda: 0)

In [573]:
text = "sdnfdgsjkabkfj furgbrzjhvgkjbfzj dgsjbsvkjeghsjk"

In [574]:
for char in text:
    d[char] = d[char] + 1

In [575]:
d

defaultdict(<function __main__.<lambda>()>,
            {'s': 5,
             'd': 3,
             'n': 1,
             'f': 4,
             'g': 5,
             'j': 8,
             'k': 5,
             'a': 1,
             'b': 4,
             ' ': 2,
             'u': 1,
             'r': 2,
             'z': 2,
             'h': 2,
             'v': 2,
             'e': 1})

In [589]:
from collections import OrderedDict

In [605]:
data = [('ram', 9), ('ravi', 8), ('ajay', 10)]

In [606]:
d = {}

for name, score in data:
    d[name] = score

In [607]:
d

{'ram': 9, 'ravi': 8, 'ajay': 10}

In [608]:
d.items()

dict_items([('ram', 9), ('ravi', 8), ('ajay', 10)])

In [609]:
d = OrderedDict()

In [610]:
for name, score in data:
    d[name] = score

In [611]:
d

OrderedDict([('ram', 9), ('ravi', 8), ('ajay', 10)])

![](https://i.imgflip.com/21e45t.jpg)

## 3. datetime

The datetime module supplies classes for manipulating dates and times in both simple and complex ways!

![](https://i.imgflip.com/21e4cn.jpg)

### (i) Fetching current date and time

```python
datetime.now()
```

In [612]:
from datetime import datetime

In [621]:
c = datetime.now()

In [615]:
type(c)

datetime.datetime

In [619]:
c.day, c.month, c.year, c.hour, c.minute, c.second

(17, 3, 2019, 18, 6, 10)

In [622]:
c

datetime.datetime(2019, 3, 17, 18, 7, 56, 161799)

### (ii) Converting string to datetime object

```python
datetime.strptime(mytime, "%d-%m-%Y %H:%M:%S")
```

In [623]:
mytime = "8-10-2017 12:30:45"

In [624]:
datetime.strptime(mytime, "%d-%m-%Y %H:%M:%S")

datetime.datetime(2017, 10, 8, 12, 30, 45)

In [625]:
dob = "05/06/1001"

In [627]:
datetime.now().minute

12

In [626]:
datetime.strptime(dob, "%d/%m/%Y")

datetime.datetime(1001, 5, 22, 0, 0)

### (iii) timedelta

In [643]:
c = datetime.now()

In [646]:
td = datetime.now() - c

In [647]:
td

datetime.timedelta(0, 7, 569582)

In [648]:
td.days

0

In [649]:
td.seconds // 60, td.seconds % 60

(0, 7)

In [650]:
from datetime import timedelta

In [651]:
datetime.now() + timedelta(hours=1)

datetime.datetime(2019, 3, 17, 19, 19, 56, 44443)

### (iv) combine date & time
```python
datetime.combine(d,t)
```

In [652]:
d = datetime.now()

In [655]:
dt = d.date()

In [656]:
ti = d.time()

In [657]:
datetime.combine(dt, ti)

datetime.datetime(2019, 3, 17, 18, 21, 10, 585177)

### (v) display datetime object

```python
mytime.strftime("%H-%M-%S")

mytime.isoformat()
```

In [665]:
d.utcnow()

datetime.datetime(2019, 3, 17, 12, 58, 28, 319754)

In [666]:
d.now().isoformat()

'2019-03-17T18:28:43.281938'

In [659]:
d = datetime.now()

In [660]:
d

datetime.datetime(2019, 3, 17, 18, 23, 16, 898955)

In [661]:
"{}-{}-{}".format(d.day, d.month, d.year)

'17-3-2019'

In [662]:
d.strftime("%d-%m-%Y")

'17-03-2019'

In [668]:
d.strftime("%b %d, %Y %I:%M %p")

'Mar 17, 2019 06:23 PM'

![](http://s2.quickmeme.com/img/24/24f9f65f2a1d912ad542b35eb4357bd6aec17c0ddd451572f3f393c4b11592c7.jpg)